.tabbar-main {
    padding-top: 35px;
    padding-left: 30px;
    width: 900px;
}


.tabbar-options {
    display: flex;
    color: #515B6C;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer; 

    :nth-child(1n+2) {
        margin-left: 40px;
    }
    
    :hover {
        color: #10A8C9;
    }
}

.tabbar-line {
    margin-top: 0px;
}

.tabbar-checker {
  width: 60px;
  border-bottom: 3px solid #10A8C9;
  padding-top: 10px;
  z-index: 10;
}